.popup{

  .popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  // override visibility
  .popup-show{
    visibility: visible;
    opacity: 1;
  }

  .popup-content {
    margin: 50px auto;
    padding: 0;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: relative;
    height: 85%;
    /* transition: all 5s ease-in-out; */
    border: 3px solid #000;
    display: block;
    overflow: hidden;


    .popup-title {
      width: 100%;
      display: block;
      border-bottom: 3px solid black;
      font-size: 22px;
      font-weight: 700;
      min-height: 27px;
      padding: 3px;
    }

    .popup-close {
      position: absolute;
      top: 0px;
      right: 10px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      z-index: 100000;
      cursor: pointer;
      &:hover {
        color: #06D85F;
      }
    }

  }


}


