/**
 * @author: Amr ALmgwary
 * @date: 29-Jan-17.
 */
.badge-auto-complete{
  width: 210px;





  .react-autosuggest__container {

    // case open
    &--open{

      // drop down list
      .react-autosuggest__suggestions-container{
        background: rgba(128, 128, 128, 0.41);
        width: 100%;
        max-width: 200px;
        padding:  0;
        border: 2px solid rgba(0, 0, 0, 0.47);
        max-height: 94px;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 100000000000;




        .react-autosuggest__suggestions-list {
          padding-left: 0;
          margin: 0;
          .react-autosuggest__suggestion{

            list-style-type: none;


            .list-row {
              padding: 10px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.28);


              .icon{
                margin-right:7px ;

                img {
                  width: 15px;
                }
              }
            }
          }
        }


      }
    }

    // search input
    .react-autosuggest__input{
      width: 100%;
    }


  }

}
 