/**
 * @author: Amr ALmgwary
 * @date: 24-Jan-17.
 */

.tabs-container{



  $primary-color: #ffffff;
  $secondary-color: #1565C0;

  $light: white;



  // helper classes
  .hidden {
    display: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
  }

  // toolbar
  .toolbar {
    background-color: $primary-color;
    padding: 30px 20px;
  }

  // tabs
  .tabs {
    position: relative;

    .tab-menus {
      display: inline-block;
      width: 22%;
      max-width: 160px;
      background-color: $primary-color;
      vertical-align: top;
      height: 100%;
      padding-top: 30px;
      border-right: 4px solid black;
      * {
        box-sizing: border-box;
      }
    }

    .tab-menu {
      display: inline-block;
      text-decoration: none;
      padding: 10px 20px;
      color: #1f1f1f;
      text-transform: capitalize;
      font-size: 14px;
      width: 100%;
      font-weight: 700;
      background: #cccccc;
      border: 2px solid black;
      border-right: 4px solid black;
      margin: 1px 0px;
      border-radius: 1px;
      /* override parent right border*/
      transform: translateX(4px);
      &.active {
          border-right: 0;
          border-radius: 1px 0 0 1px;
          background-color: #fff;
        }
    }

    .tab-contents {
      position: relative;
      height: 100%;
      width: 80%;
      display: inline-block;

    }

    .tab-contents-wrapper {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }


}