/**
 * @author: Amr ALmgwary
 * @date: 31-Jan-17.
 */

.patient-file-form{

  padding-left: 38px;

  .md-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    color: rgba(255,255,255,0.87)!important;;
    background-color: rgb(16,108,200)!important;;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
  }

  .md-icon {
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
  }


  .formRow {
    position: relative;
    margin-bottom: 45px;
  }

  input {
    height: auto;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
  }

  .upload {
    display: block;
    width: 200px;
    background: #106cc8;
    margin: auto;
    text-align: center;
    height: 200px;
    vertical-align: middle;
    color: #fff;
    font-size: 90px;
    padding-top: 11px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
   .fa-cloud-upload {
      line-height: 2;
     height: calc(100% - 50px);
    }
    .text {
      font-size: 22px;
      display: block;
    }
  }


}