.searchGrid {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        tr:nth-child(even) {
            background-color: rgba(34, 45, 50, 0.9);
            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                background: rgba(255, 255, 255, 0.9)!important
            }
        }
    }
    .search-input {
        float: left;
        margin: 20px;
        input {
            height: 38px;
            padding: 6px 10px;
            background-color: #fff;
            border: 1px solid #D1D1D1;
            border-radius: 4px;
            box-shadow: none;
            box-sizing: border-box;
        }
    }
    .griddle {
        float: left;
        padding: 20px;
    }
    .loader,
    .loader:before,
    .loader:after {
        background: #D1D1D1;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }
    .loader {
        color: #D1D1D1;
        text-indent: -9999em;
        margin: 88px auto;
        position: relative;
        font-size: 30px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
        &:before,
        &:after {
            position: absolute;
            top: 0;
            content: '';
        }
    }
    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .loader:after {
        left: 1.5em;
    }
    @-webkit-keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }
    @keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }
}