/**
 * @author: Amr ALmgwary
 * @date: 26-Jan-17.
 */
 
 .drop-down-select{
   $select-height: 44px;
   $border-color: #dedede;
   display: inline-block;

     box-sizing: border-box;
     cursor: pointer;
     width: 215px;
     input {
       width: initial;
       display: inline-block;
     }


     .header {
       font-size: 1em;
       height: 38px;
       line-height: 2.5;
       background-color: #fff;
       border: 1px solid #D1D1D1;
       border-radius: 4px;
       box-shadow: none;
       box-sizing: border-box;
       .text{
         text-transform: capitalize;
         padding: 0 10px;
         display: inline-block;
         width: 165px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
       }
       /*font awesome icon*/
       .fa{
         float: right;
         border-left: 2px solid black;
         height: 100%;
         padding: 0 6px;
       }
     }

     .options {

       display: none;
       margin: 0;
       padding: 0;
       list-style: none;
       border: 2px solid rgba(0, 0, 0, 0.47);
       max-height: 94px;
       overflow-y: scroll;
       overflow-x: hidden;
       z-index: 100000000000;
       position: absolute;
       background: #fff;
       width: inherit;

       &.open {
         display: block;
       }
     }

     .option {
       line-height: $select-height;
       height:$select-height;
       border-bottom: 1px solid $border-color;
       padding: 0 1rem;

       &:hover {
         background-color: #f3f3f3;
       }

       &.selected {
         background-color: #ddd;
       }

   }
 }