/**
 * @author: Amr ALmgwary
 * @date: 26-Jan-17.
 */

.smart-list{
  &.empty{
    //display: none;
  }
  .fa{

    float: right;
  }

  .list-items {

    max-width: 165px;
    border: 2px solid #989898;
    list-style: none;
    padding-left: 0;

    &.is-empty{
      border:0;
    }
    .item {
      padding: 10px;
      padding-left: 20px;
      &:hover{
        background: rgba(128, 128, 128, 0.13);
      }
    }
  }
}

